.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6); /* Полупрозрачный фон */
	z-index: 1000; /* Убедимся, что оверлей ниже модального окна, но выше остального контента */
  }