.container {
	text-align: center;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	margin: 0 auto 60px;
	background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
	border-radius: 50%;
}